<!DOCTYPE html>
<html lang="en">

<head>

  <%= partial "head-contents" %>
  
</head>

<body>

  <%= partial "navigation" %>
  <%= partial "header" %>


<%= yield %>

<%= partial "footer" %>

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.js"></script>

<!-- Custom Theme JavaScript -->
<%= partial "scripts" %>

</body>

</html>
